@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import 'variables';

html {
  font-size: 14px; // base font sizing
}

body {
  color: #333;
  font-family: 'Lato', sans-serif;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.main-hero {
  background: salmon;
  text-align: center;

  .logo-hero {
    width: 70vw;
    max-width: 900px;
  }
}