@import url("https://fonts.googleapis.com/css?family=Lato:400,300i,700");
@import "variables";
@import "custom-dropdown";

html {
  font-size: 14px; // base font sizing
}

body {
  color: $body-text;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

p {
  line-height: 170%;
}

hr {
  border: none;
  border-top: 1px solid $hr;
  max-width: 960px;
  margin: 0 auto;

  @media #{$breakpoint-medium} {
    margin: $half-padding auto;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: $padding;
}

.nobr {
  white-space: nowrap;
}

// -----------------------------
// Header
// -----------------------------

header {
  position: fixed;
  background: transparent;
  width: 100%;
  height: $header-height;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 $padding;
  }

  .logo {
    display: none;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  a:hover {
    opacity: 0.8;
  }

  li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px;

    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }

  // header gets this class when it's moving down the page
  &.sticky {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);

    .logo {
      flex: 1;
      display: block;
      text-align: left;

      img {
        width: calc(#{$header-height} * 1.2);
      }
    }

    ul {
      margin-right: auto; // make the nav go to the right
    }

    li a {
      color: $brand-pink;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

// Content page headers
body:not(.home) header {
  li a {
    color: $brand-pink;
  }
}

// -----------------------------
// Main Hero
// -----------------------------

.main-hero {
  padding-top: calc(
    #{$header-height} + #{$padding} + 3vw
  ); // make room for the header
  padding-bottom: calc(8.1538vw + 8vw + 3vw); // make room for the waves
  padding-left: $padding;
  padding-right: $padding;

  background-image: url("/images/hero-bkg.jpg");
  background-size: cover;

  text-align: center;
  position: relative;

  color: #ffffff;

  @media #{$breakpoint-medium} {
    padding-bottom: calc(8.1538vw + 5vw + 3vw);
  }

  .logo-hero {
    width: 70vw;
    max-width: 400px;
    padding-bottom: 20px;
  }

  h2 {
    font-weight: normal;
  }

  // waves
  &:after {
    content: "";
    position: absolute;
    bottom: -3px; // make sure half pixel sizes don't show a bit of pink below the waves
    left: 0;
    right: 0;

    height: 8.1538vw; // aspect ratio of the image
    width: 100%;

    background-image: url("/images/waves.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

// -----------------------------
// Text Block
// -----------------------------

.text-block {
  font-style: italic;
  font-weight: 300;
  font-size: $font18;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 180%;

  @media #{$breakpoint-medium} {
    font-size: $font25;
  }
}

// -----------------------------
// Game Area
// -----------------------------

.game-area {
  display: flex;
  flex-direction: column;

  > div {
    padding-bottom: $padding;
  }

  .game-links {
    display: flex;
    flex-direction: column;
    row-gap: $half-padding;

    img {
      max-width: 150px;
    }
  }

  @media #{$breakpoint-medium} {
    align-items: center;
    flex-direction: row;

    > div {
      width: 33%;
      padding: 0 $half-padding 0;
    }

    > span {
      width: 66%;
      display: block;

      img {
        width: 100%;
        border-radius: $border-radius;
      }
    }
  }

  h2 {
    color: $brand-pink;
    text-transform: uppercase;
    font-size: $font20;
  }
}

// -----------------------------
// Game Hero
// -----------------------------

.game-hero {
  background: url("../images/kiki-background.jpg") center / cover no-repeat;
  margin: $padding 0;
}

.game-hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;

  > span {
    padding: $padding $padding 0 $padding;

    img {
      width: 100%;
    }
  }

  > div {
    color: #ffffff;
    text-align: center;
    padding: 0 $padding $padding;

    h2 {
      text-transform: uppercase;
      margin: $half-padding 0 0;
    }

    h3 {
      font-weight: normal;
    }
  }

  @media #{$breakpoint-medium} {
    flex-direction: row;

    > span {
      max-width: 600px;
      padding: calc(#{$padding} * 2) 0;
    }

    > div {
      flex: 1;

      h2 {
        font-size: $font30;
        margin-top: $half-padding;
      }
    }
  }
}

// -----------------------------
// Forms
// -----------------------------

input,
textarea {
  display: block;
  width: 93%;
}

select {
  width: 100%;
}

label {
  display: block;
  width: 98%;
}

fieldset {
  border: 0;
  margin-bottom: $half-padding;
}

label {
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid $input-border;
  border-radius: $border-radius;
  padding: 10px;
}

input[type="submit"] {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid $brand-pink;
  border-radius: $border-radius;
  color: $brand-pink;
  background-color: white;

  &:active {
    color: white;
    background-color: $brand-pink;
  }
}

// dropdowns are handled by custom-dropdown.scss
span.custom-dropdown {
  margin-top: 8px;
}

.explanation {
  font-size: $font11;
}

.home-form {
  h1 {
    text-align: center;
    a {
      color: $brand-pink;
    }
  }

  form {
    display: none;
    max-width: 500px;
    margin: 2vw auto;
  }
}

.form-success {
  // display: none;
}

.form-success {
  text-align: center;

  h1 {
    font-size: 76px;
    color: $brand-pink;
    margin-bottom: 0.2em;
  }

  .message {
    background: #f7f7f7;
    padding: 2em;
    max-width: 400px;
    margin: 0 auto;

    p {
      margin-bottom: 0;
    }
  }
}

.fine-details {
  max-width: 450px;
  margin-left: 0.75em;
}

.grecaptcha-badge {
  visibility: hidden;
}

// -----------------------------
// Footer
// -----------------------------

footer {
  background: #f7f7f7;
  text-align: center;
  padding: $half-padding;
}

// -----------------------------
// Christopher Shenanigans
// -----------------------------

.antihero {
  padding-top: calc(#{$header-height} + 2em); // make room for the header
  h1 {
    text-align: center;
  }
}
