// ------------------------------
// Sizes
// ------------------------------

// Padding
$padding: 30px;
$half-padding: 15px;

// Font Sizes
$font11: .786rem;
$font12: .857rem;
$font13: .9285714rem;
$font14: 1rem;
$font16: 1.14rem;
$font18: 1.2857rem;
$font20: 1.428571rem;
$font25: 1.785714rem;
$font30: 2.142857rem;

// Media Breakpoints
$breakpoint-x-small: 'only screen and (min-width : 400px)';
$breakpoint-small: 'only screen and (min-width : 600px)';
$breakpoint-medium: 'only screen and (min-width : 900px)';
$breakpoint-large: 'only screen and (min-width : 1200px)';

// Element Sizes
$header-height: 65px;

// ------------------------------
// Colors
// ------------------------------

$brand-pink: #DC195D;
