---
title: How Seven! – Carte Blanche Beta
slug: blanche-beta
layout: sticky_layout
---

<section class="container antihero">
  <h1>“Carte Blanche” Beta Request</h1>
</section>

<section class="game-hero">
  <div class="container">
  </div>
</section>

<section class="container">
  <div>
    <h2>Hello, there!</h2>
    <p>Thanks so much for your interest in helping us with our upcoming game.</p>
    <p>We’re working on a game for the <a href="https://play.date" target="_blank">Playdate</a> called <em>Carte Blanche</em>. We have an early build that we’d like to get some feedback on. If you have a Playdate (and like classic card games, like cribbage and gin rummy), then we’d love for you to check it out!</p>
    <p>You can either email us at <a href="mailto:blanchebeta@support.howseven.com">blanchebeta@support.howseven.com</a> or fill out the form below. Then we’ll send you the build and some instructions.</p>
    <p>Thanks for your time either way. Please look forward to <em>Carte Blanche</em>!</p>
  </div>
</section>

<section class="container home-form">
  <h1><a name="contact">Request the beta</a></h1>
  <form data-behavior="contact-form">
    <input type="hidden" name="ticket[source]" value="how_seven_site" />
    <input type="hidden" name="ticket[inquiry_type]" value="general" />
    <input type="hidden" name="ticket[subject]" value="Carte Blanche Beta Request" />

    <fieldset>
      <label for="ticket_name">Your Name</label>
      <input id="ticket_name" name="ticket[name]" type="text" required />
    </fieldset>

    <fieldset>
      <label for="ticket_email">Your Email <span class="explanation">(so we can respond)</span></label>
      <input id="ticket_email" name="ticket[email]" type="email" required />
    </fieldset>

    <p class="fine-details">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </p>

    <input type="submit" value="Submit" />
  </form>
  <div class="form-success">
    <h1>
      Thanks!
    </h1>
    <div class="message">
      <svg width="48px" height="34px" viewBox="0 0 48 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" transform="translate(-252.000000, -170.000000)">
            <circle id="Oval" fill="#DC195D" cx="260.916016" cy="173.916016" r="3.91601562"></circle>
            <circle id="Oval" fill="#DC195D" cx="290.916016" cy="173.916016" r="3.91601562"></circle>
            <path d="M256,192 C270.150174,202.666667 283.483508,202.666667 296,192" id="Path" stroke="#DC195D" stroke-width="7" stroke-linecap="round"></path>
          </g>
        </g>
      </svg>
      <p>
        Thanks so much for your help! We’ll be in touch shortly.
      </p>
    </div>
  </div>
</section>
